@model UploadResultViewModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Results from file</p>
<p>File size: @Model.FileSize</p>
<p>File name: @Model.FileName</p>
<p>File text: @Model.FileText</p>

